body { 
	text-align: center;
	font-family: AvenirNextLTPro-Regular;
	width: 100%;
	height: 100%;
}

@font-face { 
	font-family: AvenirNextLTPro-Regular;
	src: url(Avenir/AvenirNextLTPro-Regular.otf);
}

@font-face { 
	font-family: AvenirNextLTPro-UltLtCn;
	src: url(Avenir/AvenirNextLTPro-UltLtCn.otf);
}

h1 { 
	font-size: 60px;
}

h4 { 
	font-family: AvenirNextLTPro-UltLtCn;
	font-size: 25px;
}

#menu { 
	background-color: tomato;
	width: 700px;
	height: 50px;
	margin: auto;
	padding-top: 0px;
	margin-bottom: 10px;
}


#menu ul{ 
	margin-top: 10px;
}

#menu li {
	display: inline;
	text-align: center;
	color: white;
	margin: auto;
	font-size: 30px;
	padding: 5px;
}

#menu li:hover { 
	cursor: pointer;
}

.dropdown { 
	position: relatve;
	display: inline-block;
}

.dropdown:hover { 
	cursor: pointer;
}

.dropdown-content { 
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;

}

.dropdown-content a { 
	color: black;
	padding: 5px 5px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover { 
	color: white;
	background-color: tomato;
}
.dropdown:hover .dropdown-content { 
	display: block;
}

#foodporn { 

	height: 250px;
	width: 250px;
	margin: auto;
	margin-bottom: 25px;
}

#foodporn img { 
	height: 250px;
	width: 250px;
	margin: auto;
}

#spin { 
	height: 25px;
	width: 250px;
	margin-bottom: 25px;

}

form {

	margin: auto;
}

input { 
	width: 250px;
}

.hidden { 
	visibility: hidden;
}

.active { 
	visibility: visible;
}